body {
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  color: #666;
}


/* Layout */

.app {
  margin: 0 auto;
}

.faq, .container, .landing {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  margin-top: 45px;
  margin-bottom: 145px;
}


/* Typography */

h1, h2, h3, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #FF9EB5;
  text-align: center;
}

p, table {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
}

table {
  margin: 0 auto;
  margin-bottom: 1.7em;
}

button.filterSelected {
  background-color: #4ED99C;
}

.header {
  background: #4ED99C;
  text-align: center;
}

.header img {
  width: 20%;
  min-width: 300px;
  margin-left: -65px;
}


/* Nav */

.nav {
  background: #4ED99C;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid #2AAF74;
}

.nav ul {
  display: inline-block;
  /*Account for right margin on magnifier*/
  margin-left: 70px;
}

.nav-items li {
  display: inline-block;
  height: 30px;
}

.nav-items li a {
  color: #fff;
  font-size: 26px;
  padding: 1px 5px;
  margin-right: 20px;
  text-decoration: none;
}

.nav-items li a:hover,
.selected a {
  background: #2AAF74;
  border-radius: 4px;
}

#searchBar {
  width: 30%;
  transition: 0.3s ease-in all;
}

#searchBar:focus {
  width: 50%;
}

#search-icon {
  height: 35px;
}

.search {
  transition: opacity 0.7s ease-in, margin-top 0.2s ease-in, z-index 1s step-start;
  display: block;
  position: relative;
}

.hidden {
  /*to hide the search bar*/
  opacity: 0;
  margin-top: -53px;
  z-index: -5;
  transition-timing-function: ease-in, ease-in, step-end;
}

.search input, .search button {
  border: none;
}

.search input {
  margin-right: 10px;
  border: 2px solid #2AAF74;
  outline: none;
}

.search input:hover, .search input:focus {
  border: 2px solid #fff;
}

.search button {
  background: #2AAF74;
  border: 1px solid #2AAF74;
}

.search button:hover {
  color: #fff;
}

.magnifier {
  display: inline-block;
  float: right;
  margin-right: 70px;
}


/* Landing */

.landing h2 span {
  letter-spacing: -.06em;
}

#apostrophe {
  font-size: 37px;
}


/* Footer */

.footer {
  background: #4ED99C;
  min-height: 50px;
  color: #fff;
  border-top: 2px solid #2AAF74;
  margin-top: 300px;
  /*fix footer to window bottom*/
  position: fixed;
  width: 100%;
  bottom: 0;
}

#copyright {
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  font-style: italic;
}


/* Clothing */

.clothingItem img {
  width: 100%;
}

.clothingRow {
  padding-bottom: 24px;
}

.Nav {
  text-align: center;
}

.filterOptions {
  margin: 24px 0;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */

@media (min-width: 400px) {}


/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {}


/* Larger than desktop */

@media (min-width: 1000px) {}


/* Larger than Desktop HD */

@media (min-width: 1200px) {}
