body {
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  color: #666;
}


/* Layout */

.app {
  margin: 0 auto;
}

.faq {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 45px;
  margin-bottom: 145px;
}


/* Typography */

h1, h2, h3, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #F7BE7F;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
}

button.filterSelected {
  background-color: #4ED99C;
}

.header {
  background: #4ED99C;
  text-align: center;
}

.header img {
  width: 30%;
  min-width: 300px;
  margin-left: -65px;
}


/* Nav */

.nav {
  background: #4ED99C;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: #2AAF74;
  box-shadow: inset 0px -1px #94e8c3;
}

#searchBar {
  width: 30%;
  transition: 0.3s ease-in all;
}

#searchBar:focus {
  width:50%;
}

.nav input, .nav button {
  border: none;
}

.nav input {
  margin-right: 10px;
  margin-left: -10px;
  border: 2px solid #2AAF74;
  outline: none;
}

.nav input:hover, .nav input:focus {
  border: 2px solid #fff;
}

.nav button {
  background: #2AAF74;
  border: 1px solid #2AAF74;
}

.nav button:hover {
  color: #fff;
}


/* Footer */

.footer {
  background: #2AAF74;
  min-height: 100px;
  color: #fff;
  border-top: 3px solid #4ED99C;
  margin-top: 300px;
  /*fix footer to window bottom*/
  position: fixed;
  width: 100%;
  bottom: 0;
}

#copyright {
  text-align: center;
  padding-top: 50px;
}


/* Clothing */

.clothingItem img {
  width: 100%;
}

.clothingRow {
  padding-bottom: 24px;
}

.Nav {
  text-align: center;
}

.filterOptions {
  margin: 24px 0;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */

@media (min-width: 400px) {}


/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {}


/* Larger than desktop */

@media (min-width: 1000px) {}


/* Larger than Desktop HD */

@media (min-width: 1200px) {}
