html {
  /*Force vertical scrollbar on short pages to avoid horizontal skips*/
  overflow-y: scroll;
}

body {
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  color: #666;
}

button.disabled {
  color: #C4B9A7;
  cursor: default;
}

.paginationButton {
  border: none;
  padding: 0 10px;
}


/* Layout */

.app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.faq, .container, .landing {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.centered {
  text-align: center;
}

table {
  margin: 0 auto;
  margin-bottom: 1.7em;
}


/* Typography */

h1, h2, h3, h4, h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #89CCB2;
  text-align: center;
}

h4, h5 {
  text-align: left;
}

p, table {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
}

label {
  font-weight: 400;
  margin-bottom: 0;
}

a {
  color: #F99478;
  text-decoration: none;
}

a:hover {
  color: #89CCB2;
}

/* Forms */

#required span {
  color: red;
  margin-top: -20px;
}

.clear {
  visibility: hidden;
}

.form-button {
  margin-top: 24px;
}

#register-img {
  margin-left: 40%;
  width: 20%;
}


/* Header */

.header {
  background: #C4B9A7;
  text-align: center;
  border-bottom: 6px solid #fff;
}

.header img {
  width: 20%;
  min-width: 300px;
  margin-left: -65px;
}


/* Nav */

.container-fluid {
  width: 100%;
  flex: 1;
  /*background-image: url(/images/cute-bird.png);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 80% 100px;*/
}

.nav {
  background: #F99478;
  padding-top: 1em;
  margin: 0 auto;
  box-shadow: darkgrey -1px 3px 20px 0px;
  text-align: center;
}

.nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-items li {
  height: 30px;
  list-style-type: none;
}

.nav-items li a, .logout {
  color: #fff;
  font-size: 20px;
  padding: 1px 5px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 20px;
  text-decoration: none;
}

.nav-items li a:hover, .selected a {
  cursor: pointer;
  background: #89CCB2;
  border-radius: 4px;
}

.searchBar {
  width: 30%;
  transition: 0.2s ease-in all;
}

.search {
  overflow: hidden;
  transition: all 0.3s ease-in;
  max-height: 50px;
}

.paginationRow {
  text-align: center;
}

.hidden {
  max-height: 0;
  overflow: hidden;
  */
}

.search input, .search button {
  border: none;
}

.search input {
  margin-right: 10px;
  border: 2px solid #89CCB2;
  outline: none;
}

.search input:hover, .search input:focus {
  border: 2px solid #fff;
}

.search button {
  background: #89CCB2;
  border: 1px solid #89CCB2;
}

.search button:hover {
  color: #fff;
}

.magnifier {
  display: inline-block;
}

.magnifier img {
  cursor: pointer;
}

#search-icon {
  height: 25px;
  margin-bottom: -4px;
}


/* Landing */

.landing h2 {
  /*adjust for cute bird image*/
  margin-left: 10%;
  font-size: 5rem;
}

.landing h3 {
  /*adjust for cute bird image*/
  margin-left: 0;
}

.landing h2 span {
  letter-spacing: -.06em;
}

.landing p {
  text-align: center;
  margin-bottom: 1.5em;
}

.landing p:first-of-type {
  margin-top: 2em;
}

#apostrophe {
  font-size: 37px;
  margin-right: 2px;
}

.landing .cute-bird {
  width: 10%;
  min-width: 80px;
  float: right;
  margin-right: -50px;
}

.landing .cute-bird-mobile {
  display: none;
  width: 5%;
  margin: 0 auto;
}


/* Clothing */

.filterOptions {
  background: #F2F2F2;
  border-radius: 6px;
}

.filter-container {
  text-align: center;
}

.filter-container a, .clothingItem a {
  text-decoration: none;
  font-size: 16px;
  color: #F99478;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-align: center;
}

.clothingItem a:hover {
  color: #649582;
}

.clothingItem a:hover ~ p a {
  color: #649582;
}

.filterCol {
  padding: 10px 0;
  text-align: center;
}

.filterCol button {
  width: 60%;
  border: none;
  height: initial;
  line-height: 20px;
  margin-bottom: 0.5em;
  white-space: normal;
  padding: 0 5px 0 17px;
}

.filterCol p {
  font-size: 22px;
  color: #89CCB2;
  margin-bottom: 10px;
  font-weight: 600;
}

.close-x {
  visibility: hidden;
  display: inline;
  float: right;
  text-transform: lowercase;
  margin-top: -1px;
}

.filterSelected .close-x {
  visibility: visible;
}

button.filterSelected {
  background-color: #FDE1DA;
}

.clothingItem a {
  /*refer to 'filter-container a' styles */
  color: #89CCB2;
}

.clothingItem p {
  font-size: 16px;
}

.clothingItem img {
  border-radius: 6px;
  width: 100%;
}

.clothingRow {
  padding-bottom: 24px;
}

.filterOptions {
  margin: 24px 0;
}

.filterOptions row {
  margin-top: 0;
}

h2 .fav-heart {
  float: none;
  margin-left: 30px;
}

h2 .fav-heart img {
  width: 30px;
}

.fav-heart {
  float: right;
  cursor: pointer;
}

.fav-heart img {
  width: 20px;
}


/* Single Item View */

.itemsFavourited {
  text-align: center;
  margin-top: 80px;
}

.item h2 {
  text-align: left;
}

.item h6 {
  color: #89CCB2;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

.main-image img {
  width: 100%;
}

.secondary-image img {
  opacity: 0.5;
  background: #F2F2F2;
}

@media (max-width: 550px) {
  .secondary-image {
    width: 30%;
  }

  .memberFavourites .clothingRow {
    padding-bottom: 0;
  }
}


/* Account */

.account h5 {
  margin-bottom: 0;
}

.memberFavourites {
  margin-top: 2em;
}


/* Terms */

.terms ul {
  font-size: 20px;
  list-style: lower-roman;
  margin-left: 2em;
}


/* Footer */

.footer {
  background: #F2F2F2;
  color: #a4a3a3;
  margin-bottom: auto;
  padding: 30px 0;
  width: 100%;
  text-align: center;
  background-image: url(/images/cute-baby-birds.png);
  background-size: 10em;
  background-repeat: no-repeat;
  background-position: 15% 20%;
}

.footer a {
  cursor: default;
}

#copyright {
  font-size: 16px;
  /* font-style: italic; */
}

.footer img {
  margin-top: 15px;
}


/* Error Messages */

.errorMessage {
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 200px;
  overflow: hidden;
  transition: 0.3s all ease-in;
}

.errorText button {
  border: none;
  padding: 0;
  font-size: 16px;
  color: #FFBABA;
  margin: 0 8px 0 16px;
}

.errorText button:hover {
  color: #fff;
}

.errorText {
  padding: 8px 16px;
  border: 1px solid #E83C3C;
  box-shadow: inset 0 -1px #FF7575;
  background-color: #FF4242;
  border-radius: 4px;
  color: #FFF;
}

.errorMessage.hidden {
  max-height: 0;
  overflow: hidden;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */

@media (max-width: 400px) {
  .footer {
    background-size: 25%;
    background-position: 50% 5%;
    min-width: 80px;
    padding-top: 6em;
  }
}


/* Larger than phablet (also point when grid becomes active) */

@media (max-width: 600px) {

  /* Header */

  .header img {
    margin-left: -20px;
  }

  /* Typography */

  h2 {
    font-size: 3em;
  }

  p, table {
    font-size: 19px;
  }

  table {
    font-size: 13px;
  }

  /* Landing */

  .landing h2 {
    margin-left: 0;
    font-size: 3em;
  }

  .main-nav {
    margin-bottom: 1em;
  }

  .nav-link,
  #search-icon {
    width: 100%;
  }

  .landing .cute-bird {
    display: none;
  }

  .landing .cute-bird-mobile {
    display: block;
    width: 100px;
  }

  /* Clothing */
  .clothingItem {
    margin-bottom: 1.5em;
  }
}


/*MAX*/
@media (min-width: 400px) and (max-width: 750px) {
  .footer {
    background-size: 15%;
    background-position: 10% 50%;
    min-width: 80px;
  }
}


/* Larger than tablet */

@media (min-width: 750px) {
  /*.landing h2 {
    margin-left: 80px;
  }*/
}


/* Larger than desktop */

@media (min-width: 1000px) {

  /* Landing */


}


/* Larger than Desktop HD */

@media (min-width: 1200px) {



}
